.advantage
    .advantage__aside
        +icon('guarantee','advantage__icon')
    +DivSpanPRef("advantage", "70 day money back guarantee", "So you can shop with confidence")
        +linkText("link link-underline advantage__link popup-link", "", "Learn about warranty")
        