.advantage
    .advantage__aside
        +icon('support','advantage__icon')
    +DivSpanPRef("advantage", "Specialists on goods in touch", "We will answer any questions about products during the day")
        +linkText("link link-underline advantage__link popup-link",  "#popup-consultation", "Get the consultation" )
        