.advantage
    .advantage__aside
        +icon('test','advantage__icon')
    +DivSpanPRef("advantage", "Trial Items", "Try a product or sample at below the regular price")
        +linkText("link link-underline advantage__link", "", "View")