include ../../modules/small-blocks/breadcrumbs
section.s-catalog-categories
    .container
        +sectionHeader("Catalog categosries")
            //.popular-categories
        .catalog-categories     
            include ../../modules/categories/categories-prev
            include ../../modules/navigation/categories-mobile-nav
//section.s-categories
//    .container
//        +sectionHeader("Catalog categories")
//            //.popular-categories
//        include ../../modules/categories/categories