.action-prev
    +imgHeader("action-prev", "3","actions", "")
        a(href="").btn Buy product
    .action-prev__body
        .action-prev___text
            span.action-prev__descr Special offer
            p.action-prev__title for minerals