- var n = 1;
    
.actions-prev
    while n < 4
        
        .item-prev.action-prev
            a(href="")(class="item-prev__header")
                img(src="static/images/content/products/prev-"+n+++".jpg" alt="product").pre-img   
                .add-cart
                    button.btn.btn--fill Buy product1234567890123456789012345678901234567890
            a(href="").action-prev__body
                .action-prev__text
                    span(class="action-prev__descr")="Special offer"+n
                    p.action-prev__title for minerals
        