section.s-bestsellers
    .container
        +sectionHeader("Bestseller")
        .bestsellers
            .bestsellers__row
                .bestsellers__col
                    +linkDivImgSpan("bestseller", "", "prev-6.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "bestseller--big")
                    .bestsellers__row
                        .bestsellers__col
                            +linkDivImgSpan("bestseller", "", "prev-2.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "")
                        .bestsellers__col
                            +linkDivImgSpan("bestseller", "", "prev-3.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "")
                .bestsellers__col
                    .bestsellers__row
                        .bestsellers__col
                            +linkDivImgSpan("bestseller", "", "prev-4.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "")
                        .bestsellers__col
                            +linkDivImgSpan("bestseller", "", "prev-1.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "")
                    .bestsellers__row
                        +linkDivImgSpan("bestseller", "", "prev-5.jpg", "Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels", "bestseller--big")
                        

//                        a(href="").bestseller.bestseller--big 
//                            .bestseller__img
//                                img(src="static/images/content/products/prev-5.jpg" alt="product")
//                            span.bestseller__name Solgar, Ubiquinol (Reduced CoQ10), 100 mg, 50 Softgels

                        
                