section.s-bestsellers-type
    .container
        +sectionHeader("Bestseller in type")
        .bestsellers-type
            .bestsellers-type__row
                .bestsellers-type__col
                    +prev(1)
                .bestsellers-type__col
                    +prev(2)
                .bestsellers-type__col.bestsellers-type__col--wide
                    +prev(3)

            .bestsellers-type__row
                .bestsellers-type__col
                    +prev(4)
                .bestsellers-type__col.bestsellers-type__col--wide
                    +prev(5)
                .bestsellers-type__col
                    +prev(6)

                