a(href="").basket-prev.header__basket-prev.header-main__basket-prev
    +icon('shopping-cart', 'basket-prev__icon')
    span.basket-prev__title Our order
    span.basket-prev__count  here it is empty
    span.basket-prev__number 98