extends template/main

block variables
    - var title = 'Catalog'
    - var pageClass = 'catalog-page'

block content
    include pages/catalog/catalog
    include modules/small-blocks/bestsellers
    include modules/products/viewed-products
    include modules/small-blocks/questions
