ul
    li
        a(href="index.html") Home
    li
        a(href="catalog.html") Catalog
    li
        a(href="categories.html") Categorsies
    li
        a(href="subcategory.html") Subcategory
    li
        a(href="search-results-page.html") Search results
    li
        a(href="site-map.html") Site map
    li
        a(href="actions.html") Actions
    li
        a(href="action.html") Action
    li
        a(href="about.html") About
    li
        a(href="404.html") 404
    li
        a(href="account.html") Account
    li
        a(href="settings.html") Settings
    li
        a(href="orders.html") Orders
    li
        a(href="purchase-items.html") Purchased items
    li
        a(href="order.html") Order
    li
        a(href="cart.html") Cart
    li
        a(href="product.html") Product
    li 
        a(href="checkout.html") Checkout
    li 
        a(href="checkout-order.html") Checkout order
    li 
        a(href="review-write.html") Review write
        