section.s-actions
    .container
        +sectionHeader("Promotions and discounts")
            +sectionRight("All promotions and discounts", 123, "") 
        include ../../modules/actions/action1
        .section-mobile-footer
            +linkText("link-green link-underline", "", "All promotions and discounts")
            +countText("123", "")
            
//            .actions-prev
//                include ../../modules/actions/action1
//                include ../../modules/actions/action2
//                include ../../modules/actions/action3
//                include ../../modules/actions/action4
//                        
                