section.s-advantages.s-bg-white
    .container
        .advantages
            include ../../modules/advantages/advantage1
            include ../../modules/advantages/advantage2
            include ../../modules/advantages/advantage3