section(style="background-image:url('static/images/general/main-banner.jpg')").s-banner
    .container
        .banner
            h1.title-page Sale of natural products from the manufacturer 
            p.banner__text  Eco shop has been in business since 1996 and is run from multiple distribution centers in California, Kentucky, Illinois and Pennsylvania. We are a global leader in bringing the best overall value in natural products to our customers all over the world.
    