section.s-product-prev-line.s-bg-white
    .container
        +sectionHeader("Discounts")
            +sectionRight("All discounts", 123, "")
        include ../../modules/products/product/prev/prev-line
        .section-mobile-footer
            +linkText("link-green link-underline", "", "All discounts")
            +countText("123", "")
//        .products-prev-line
//            include ../../modules/product/prev1
//            include ../../modules/product/prev1
//            include ../../modules/product/prev1
//            include ../../modules/product/prev1
//            include ../../modules/product/prev2
//            include ../../modules/product/prev1
//            include ../../modules/product/prev2 
            