section.s-popular-categories
    .container
        +sectionHeader("Popular catalog categories")
            //.popular-categories
        include ../../modules/categories/categories-prev
//        .categories
//            .categories-prev
//                .categories-prev__navigation
//                    +sliderNavNavigation('categories-prev-slider', '')
//                .js-categories-prev
//                    include ../../modules/categories/prev/prev1
//                    include ../../modules/categories/prev/prev2
//                    include ../../modules/categories/prev/prev3
//                    include ../../modules/categories/prev/prev4
//                    include ../../modules/categories/prev/prev5
//                    include ../../modules/categories/prev/prev6
//                    include ../../modules/categories/prev/prev7
//                    include ../../modules/categories/prev/prev8
                                