@font-face {
    font-family: 'source_sans_problack';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.ttf');
    font-weight: 900;
    
}
@font-face {
    font-family: 'source_sans_probold';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
}


