.categories-list
    - var c = 0;
    while c < 8
        +prevCategory("list", 2, "", "Supplements", 12)
        - var a = c++;
//        .list.category
//            .list.category__body
//                +title("list category","Supplements", "1234"+c++)
//                ul.list.category__list
//                    +listCountLinkClass("","Minerals", "list category", "123", "link")
//                    +listCountLinkClass("","Vitamins", "list category", "123", "link")
//                    +listCountLinkClass("","Fish Oil & Omegas", "list category", "123", "link")
//                    +listCountLinkClass("","Antioxidants", "list category", "123", "link")
//                    +listCountLinkClass("","All supplements", "list category", "123", "link")
//                    +listCountLinkClass("","Minerals", "list category", "123", "link")
//                    +listCountLinkClass("","Vitamins", "list category", "123", "link")
//                    +listCountLinkClass("","Fish Oil & Omegas", "list category", "123", "link")
//                    +listCountLinkClass("","Antioxidants", "list category", "123", "link")
//                    +listCountLinkClass("","All supplements", "list category", "123", "link")
//                    +listCountLinkClass("","Minerals", "list category", "123", "link")
//                    +listCountLinkClass("","Vitamins", "list category", "123", "link")
//                    +listCountLinkClass("","Fish Oil & Omegas", "list category", "123", "link")
//                    +listCountLinkClass("","Antioxidants", "list category", "123", "link")
//                    +listCountLinkClass("","All supplements", "list category", "123", "link")
