.categories
    
    .categories-prev
        .categories-prev__navigation
            +sliderNavNavigation('categories-prev-slider', '')
        .js-categories-prev
            +prevCategory("prev", 1, 1, "Supplements", 12)
            include prev/prev2
            +prevCategory("prev", 1, 1, "Supplements", 12)
            include prev/prev2
            +prevCategory("prev", 1, 1, "Supplements", 12)
            include prev/prev2
            +prevCategory("prev", 1, 1, "Supplements", 12)
            include prev/prev2
//            include prev/prev7
//            include prev/prev8
                                