//nav.categories-mobile-nav
//    ul.categories-mobile-nav__list
//        li.categories-mobile-nav__item.categories-mobile-nav__item--active
//            .category-mobile-nav__label
//                span.category-mobile-nav__label-text CategoryA
//                span.count-text 1235
//            ul.categories-mobile-subnav
//                li.category-mobile-subnav__item.categories-mobile-subnav--active
//                    a(href="").category-mobile-subnav__link.category-mobile-subnav__link--main
//                        .category-mobile-subnav__label
//                            span.category-mobile-subnav__label-text All in Category
//                            span.count-text 123
//                li.category-mobile-subnav__item.category-mobile-subnav__link
//                    .category-mobile-subnav__label
//                        span.category-mobile-subnav__label-text SubCategoryA
//                        span.count-text 123
//                    ul.categories-mobile-subnav-items
//                        li.category-mobile-subnav-items
//                            a(href="").category-mobile-subnav-items__link ProductsA
//                                span.count-text 123
//                        li.category-mobile-subnav-items
//                            a(href="").category-mobile-subnav-items__link ProductsB
//                                span.count-text 123
//
//                li.category-mobile-subnav__item.category-mobile-subnav__link
//                    .category-mobile-subnav__label
//                        span.category-mobile-subnav__label-text SubCategoryA
//                        span.count-text 123
//
//                 
//                 
//        li.categories-mobile-nav__item
//            .category-mobile-nav__label
//                span.category-mobile-nav__label-text CategoryA
//                span.count-text 1235
//        li.categories-mobile-nav__item
//            .category-mobile-nav__label
//                span.category-mobile-nav__label-text CategoryA
//                span.count-text 1235
//        li.categories-mobile-nav__item
//            .category-mobile-nav__label
//                span.category-mobile-nav__label-text CategoryA
//                span.count-text 1235