//.slider__nav.slider__nav--next
//    +icon('left', 'slider__nav__icon')
//.slider__nav.slider__nav--prev
//    +icon('right', 'slider__nav__icon')
////    .slider__nav.slider__nav--next.products-prev-slider--next
////        +icon('left', 'slider__nav__icon')
////    .slider__nav.slider__nav--prev.products-prev-slider--prev
////        +icon('right', 'slider__nav__icon')
//           
//            