.location
    .location__header.location-question__click(data-location="header")
        +icon('location', 'location__icon')
        span.location__current Ramat Ganssssssssssssssssssssssssssssssssssss
    .location__body.ll
        include location-question
        include location-selected
        
            