.location-question
    span.location-question__text Your delivery region Ramat Gan?
    .location-question__buttons
        .btn.btn--bg-green.btn--size-s.location-question__click(data-location="yes") Yes, right
        .btn.btn--border-green.btn--size-s.location-question__click(data-location="no") No, clarify location