//.prev.category
//    +img("category-prev", "1")
//    .prev.category__body
//        +title("prev category","Supplements", "1234")
//        ul.prev.category__list
//            +listCountLinkClass("","Minerals", "prev category", "123", "link")
//            +listCountLinkClass("","Vitamins", "prev category", "123", "link")
//            +listCountLinkClass("","Fish Oil & Omegas", "prev category", "123", "link")
//            +listCountLinkClass("","Antioxidants", "prev category", "123", "link")
//            +listCountLinkClass("","All supplements", "prev category", "123", "link-green")
//
