.category-prev
    +img("category-prev", "2")
    .category-prev__body
        +title("category-prev","Herbs & Homeopathy", "12")
        ul.category-prev__list
            +listCountLinkClass("","Herbs", "category-prev", "34", "link")
            +listCountLinkClass("","Homeopathy", "category-prev", "12", "link")