.prev.category
    +img("category-prev", "2")
    .prev.category__body
        +title("prev category","Herbs & Homeopathy", "12")
        ul.prev.category__list
            +listCountLinkClass("","Herbs", "prev category", "34", "link")
            +listCountLinkClass("","Homeopathy", "prev category", "12", "link")