.category-prev
    +img("category-prev", "1")
    .category-prev__body
        +title("category-prev","Supplements", "1234")
        ul.category-prev__list
            +listCountLinkClass("","Minerals", "category-prev", "123", "link")
            +listCountLinkClass("","Vitamins", "category-prev", "123", "link")
            +listCountLinkClass("","Fish Oil & Omegas", "category-prev", "123", "link")
            +listCountLinkClass("","Antioxidants", "category-prev", "123", "link")
            +listCountLinkClass("","All supplements", "category-prev", "123", "link-green")

