include ../../modules/small-blocks/breadcrumbs
section.s-checkout-order
    .container
        +sectionHeader("Checkout order", "", "")
        .checkout-order
            .subtitle-wrap
                span.subtitle-size--s Price <b> 7000$ </b>
            p Date 28 May 2019
            
        
            
        