//+tags("", "", "popular searching", "All searching")



//.tags
//    .tags__body
//        span.tags__title.tags-row--firts popular searching
//        .tag
//            span.tags__text="tags1 tags2 tags3 tags4 tags5 tags6"
//            +countText(33, "")
//        .tag
//            span.tags__text="tags7 "
//            +countText(33, "")
//        -var c = 0;
//        while c < 20
//            .tag
//                span.tags__text="tags tags tags "+c++
//                +countText(123, "")
//        .tag
//            span.tags__text="tags7 "
//            +countText(33, "")
//    span.tags__toggle.tags-row--firts.tags-column--block All searching