.radio {
    position: relative;
    cursor: pointer;
    display: block;
    //padding-left: 40px;
    user-select: none;
    
    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        &:checked {
            & ~ .radio__custom {
                box-shadow: inset 0 0 0 3px $main-action-color; 
            }
        }
    }
    &__custom {
        @include size(25px);
        background-color: $white;
/*        position: absolute;
        top: 0;
        left: 0;*/
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 50%;
        margin-right: 10px;
        
        
        
    }
    &__text {
        font-size: 18px;
        line-height: 1.44;
    }
    &__body {
        display: flex;
        align-items: center;
        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
    &-group {
        & > *  {
        
        //margin-bottom: 10px;
        
        display: flex;
        @media screen and (max-width: $phone-size) {
            flex-wrap: wrap;
        }
        
                
            
        
    }
    }
}