aside.catalog__aside
    +catalogAside("catalog__aside-mobile--wrap tabs-wrap--mobile", "select-nav", ["Account", "account.html"], ["Orders" , "orders.html" ],["Settings", "settings.html"])
    +catalogAside("catalog__aside--wrap", "aside-nav", ["Account","account.html"], ["Orders" , "orders.html" ],["Settings", "settings.html"])