nav.main-nav.header-top__main-nav
    +navHeader("main")
//    ul.main-nav__list
//        +listLinkSpan("main", "", "Payment and delivery", "")
//        +listLinkSpan("main", "", "Warranty", "")
//        +listLinkSpan("main", "", "Services", "")
//        +listLinkSpan("main", "", "Company", "")
//        +listLinkSpan("main", "", "Contacts", "")
//        +listCountLink("", "Payment and delivery", "main-nav", "")
//        +listCountLink("", "Warranty", "main-nav", "")
//        +listCountLink("", "Services", "main-nav", "")
//        +listCountLink("", "Company", "main-nav", "")
//        +listCountLink("", "Contacts", "main-nav", "")
        
