.mobile-nav.header-main__mobile-nav.sandwich--block
    .sandwich-toggle
        include ../ui/ui-sandwich
    .mobile-nav__content.nav-content.actives
        .mobile-nav__main
            +navHeader("mobile")
                li.user-nav.mobile-nav__item
                    a(href="#popup-login").popup-link.user-nav__link.mobile-nav__link Sign In
                .location-mobile.mobile-nav__item
                    .location__header.mobile-nav__link.location-question__click(data-location="header")
                        +icon('location', 'location__icon icon-color--green')
                        span.location__current Ramat Ganeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    .location__body.ll
                        //include ../location/location-question
                        include ../location/location-selected
                                
        .mobile-nav__footer
            +call("mobile-nav")
    .location__body.location-mobile__body.ll
        include ../location/location-question
        include ../location/location-selected
    
    
        