section.s-product-questions.s-bg-white#s-product-questions
    .container
        +sectionHeaderSubtitle("Questions", "")
        .product-questions
            .product-block__big
                include ../../navigation/questions-nav
            .product-block__small.product-block__small--bold
                .product-block__small--line
                    span.title-block Not find answer to your question?

                .product-block__small--line
                    button.btn.btn--fill.btn--bg-transparent--green
                        span Answear