+popupId("forgot-password")
    .hide-on-success.popup-main
        .popup-body
            +popupHeader("Forgot password")
            .popup__block
                form.form
                    .form__body.form__body--blocks
                        .form-line__block.form-line__block--big
                            +formLine("mail")
                                +inputWrap("Email", " form-group--require", "", "", "")
                                    +inputF("Email", "email", "mail", "")

                        .form-line__block.form-line__block--small
                            +formLineInfo("", "Remembered password?", "#popup-login", "link link-green link-underline popup-link", "Sign In")
                        +formFooter("Continue", " form-group--width-p","", "", "")
                                